<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainRealTimeReviewDao">

<select id="getReviewList" resultType="realtimeVO" parameterType="map">
<![CDATA[
select fo_code, m_id, s_spname, s_name, s_id, rv_star, rv_code, rv_like, rv_content, rvp_spname, rv_date 
from
	(select 
		rownum r_num, fo_code, m_id, s_spname, s_name, s_id, rv_star, rv_code, rv_like, rv_content, rvp_spname, rv_date 
	from 
		(select 
			fo.fo_code, oi.m_id, st.s_spname, st.s_name, st.s_id, rv.rv_star, rv.rv_code, rv.rv_like, rv.rv_content, rvp.rvp_spname, rv.rv_date  
		from 
			review_photo rvp, review rv, pay p, final_order fo, orderinfo oi, store st 
		where 
			oi.o_code = fo.o_code 
			and oi.s_id = st.s_id 
			and fo.fo_code = p.fo_code 
			and p.p_code = rv.p_code 
			and rv.rv_code = rvp.rv_code 
			order by rv_date desc)) 
where 
	r_num >= #{firstNum} and r_num <= #{endNum}
	]]>
</select>

<select id="getTotalCountPage" resultType="int">
	SELECT COUNT(*) AS cnt FROM review
</select>

<!-- reviewUpdate 실행(좋아요 업데이트) -->
<update id="updateLikeCount" parameterType="map">
	UPDATE review
	SET RV_LIKE = RV_LIKE + 1
	WHERE RV_CODE = #{reviewId}
</update>

<!-- getUpdatedLikes 실행(좋아요 업데이트 후 좋아요 조회) -->
<select id="getUpdatedLikes" resultType="int" parameterType="int">
	SELECT RV_LIKE FROM review
	WHERE RV_CODE = #{reviewId}
	ORDER BY RV_DATE DESC
</select>


</mapper>
